.tile {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.tileSvg {
  width: 100%;
  height: 100%;
  display: block;
  user-select: none;
}

/* Ensure crisp rendering of SVG */
.tileSvg * {
  shape-rendering: geometricPrecision;
}
